extends ../../layouts/default.pug

block main 
    form(method='POST' enctype="multipart/form-data" id = "editForm" action=`${prefixAdmin}/account/edit` data-id = item._id)
        .textForm 
            label(for="name") Name 
            input.form-control(type='text' name = "name" placeholder='Name' value = item.name) 
        .textForm
            label(for='inputEmail4') Email
            input#inputEmail4.form-control(type='email' placeholder='Email' name = "email" value = item.email)
        .textForm
            label(for='inputPassword4') Password
            input#inputPassword4.form-control(type='password' placeholder='Password' name = "password" value = item.password)
        .textForm
            label(for='inputAddress') Address
            input#inputAddress.form-control(type='text' placeholder='Address' name = "address" value = item.address)
        .textForm 
            label(for='telephoneNumber') Phone Number
            input(type="text" class="form-control" placeholder="Phone Number" name = "phone_number" value = item.phone_number)
        .textForm 
            .custom-file
                input#validatedCustomFile.custom-file-input(type='file' required='' name='img', accept='image/*')
                label.custom-file-label(for='validatedCustomFile')
                .invalid-feedback Example invalid custom file         
        .textForm
            lable Permission
            select.custom-select(name = "role_id")
                option(selected='') Choose...
                each i in items 
                    if i.id == item.role_id
                        option(value=i.id, selected=true) #{i.title}
                    else
                        option(value=i.id) #{i.title}
        .textForm
            lable Status
            select.custom-select(name = "status")
                option(selected='') Choose...
                if (item.status = 1)
                    option(value=1, selected=true) Hoạt Động
                    option(value=0) Không Hoạt Động
                else
                    option(value=1) Hoạt Động
                    option(value=0 selected = true) Không Hoạt Động

        button#editButton.btn.btn-success(type='submit' style = "margin-top: 15px; padding: 30px, 10px, 30px, 10px; font-size: 20px") Edit
    script(src="/admin/js/editAccount.js") 
    